body {
	width: 100%;
	height: 100%;
    padding: 0px;
    margin: 0px;
	font-family: Montserrat;
}

.block1 {
	display: block;
	width: 1920px;
	height: 900px;
	background: url(../img/header-img.png);
}
.contact {
	font-size: 13px;
	color: #fff;
	padding-top: 30px;

}
#str {
	margin-left: 405px;
}
#tel {
	margin-left: 890px; 

}
.nav {
    width: 1110px;
    margin-left: 405px;
    padding-top: 35px;
}
.nav ul {
	display: flex;
    list-style-type: none;
    height: 47px;
    margin: 0px;
}
.nav li {
	 font-size: 14px;
	 color: #fff;
	 float: left;
     padding: 15px;
     margin-left: 108px;
     margin-right: 50px;
}   
.nav #line1 {
	position: absolute;
    width: 1105px;
    height: 0px;
    left: 415px;
    top: 70px;
    border-top: 1px solid #FFFFFF;
}
.nav li img {
	position: absolute;
    width: 46px;
    height: 0px;
    top: 70px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}
.block-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    }
    #vine-card {
    position: absolute;
    width: 203px;
    height: 50px;
    left: 752px;
    top: 700px;
    background: #99862A;
    font-size: 16px;
    color: #fff;
    letter-spacing: 3px;
    cursor: pointer;
    }
    #tasting {
    position: absolute;
    width: 182px;
    height: 50px;
    left: 985px;
    top: 700px;
    background: #998431; 
    font-size: 16px;
    color: #fff;
    letter-spacing: 3px;   
    cursor: pointer;
}
/*--------------------------------------*/
.block2 {
    display: flex;
    width: 1920px;
    height: 856px;
    left: 0px;
    top: 900px;
    background: #282828;
}
.block2-text {
    display: flex;
    width: 1110px;
    height: 656px;
    margin-left: 405px;
    margin-top: 100px;
    top: 1000px;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
}
.block2-text h1 {
    font-family: Playfair Display;
    position: absolute;
    width: 736px;
    height: 54px;
    left: 592px;
    top: 1060px;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;  
    font-style: normal;
    font-weight: 400;
}
.block2-text h2 {
    position: absolute;
    width: 733px;
    height: 192px;
    left: 595px;
    top: 1194px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;  
}
.block2 span {
    position: absolute;
    width: 160px;
    height: 0px;
    left: 880px;
    top: 1154px;
    border: 1px solid #FFFFFF;
}
#glass {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 880px;
    top: 1436px;
    background-image:url(../img/block2-glass.png);
}
.block3 {
    position: absolute;
    width: 1920px;
    height: 1038px;
    left: 0px;
    top: 1756px;
    background: #E6E3C4;
}
#line-top {
    position: absolute;
    width: 1110px;
    height: 0px;
    left: 405px;
    top: 80px;
    border: 1px solid #998431;  
}
#new-collections {
    font-family: Montserrat;
    position: absolute;
    width: 347px;
    height: 24px;
    left: 405px;
    top: 140px;
    color: #000;
    font-size: 16px;
}
#text-march {
    position: absolute;
    width: 298px;
    height: 108px;
    left: 405px;
    top: 195px;    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}